<% provide(:title, "About") %>
<html>
  <head>
  	<title><%= yield(:title) %> | Social app</title>
  </head>
  <body>
  	<h4>About me</h4>
	<p>My name is Sandulescu Madalina. I'm learning programming.</p>
  </body>
</html>