<% provide(:title, "Home") %>
<html>
  <head>
  	<title><%= yield(:title) %> | Social app</title>
  </head>
  <body>
	<h4>Social app</h4>
	<p>This is the home page for my social app</p>
  </body>
</html>